# Core functionality - changes here should be rare!
/src/app.py                   @MariaEmiliaRG
/src/backend/database.py      @MariaEmiliaRG
/src/backend/routers/auth.py  @MariaEmiliaRG

# The frontend will need refactored soon to be more object oriented.
/src/static/   @MariaEmiliaRG
